.login-page {
  height: 100vh;
  background-color: #F5F5F5;
}

.login-form {
  width: 25rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  background-color: white;
}