<div class="p-5 login-page">
  <h6 class="mb-5 display-6 text-center">Order Management System</h6>
  <form class="mx-auto p-5 login-form">
    <p class="mb-4 lead">Login to OMS</p>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingUsername" placeholder="Username">
      <label for="floatingUsername">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" id="floatingPassword" class="form-control" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="rememberMe">Remember me!</label>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>